<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <div class="container-fluid header">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <h2><a class="navbar-brand" href="#">Qursi</a></h2>
      </div>
      <div class="collapse navbar-collapse menu" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="">Features</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Subscribe</a></li>
          <li><button type="button" class="contact-button btn-md ">Contact us</button></li>
        </ul>
      </div>
    </div>
  </nav>
<section class="container-fluid top-section">
  <div class="jumbotron centered">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
        <h1>Get the best on-line courses from the experts</h1>
        <h3>Build your future with the best online courses and degrees. Finally, everything in one place.</h3>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button type="button" class="btn join-btn">Join for free now</button>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid laptop-section">
  <img src="../assets/laptop.png" alt="">
</section>
<section class="feature first-feature">
  <div class="container centered">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h6 class="uppercase">Features</h6>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
          <h3>Learning a new skill doesn't have to interrupt your busy schedule.</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <div class="feature-desc">
          <img src="../assets/rocket.png" alt="">
          <h5>Coursework</h5>
          <span>Each course is like an interctive textbook, features pre-recorded videos,
                quizzed and projects.
          </span>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <div class="feature-desc">
          <img src="../assets//astronaut.png" alt="">
          <h5>Help &amp; Support</h5>
          <span>Connect with thousands of other learners and debate ideas, discuss course
                material and get help matering.
          </span>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <div class="feature-desc">
          <img src="../assets/flag.png" alt="">
          <h5>Certificates</h5>
          <span>Earn official recognition for your work, and share your success with friends,
                colleagues and emplyers.
          </span>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button type="button" class="btn learnMore">Learn More</button>
      </div>
      </div>
  </div>  
</section>
<section class="feature second-feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 centered">
          <img src="../assets/features.png" alt="orange flowers glass and icecream" class="centerd-image">
        </div>
        <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <h6 class="uppercase">Features</h6>
          <h3>Learn anything from <br> anywhere of the world <br> and see the reusts for <br> the best DIY.</h3>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias repudiandae ad esse aut tenetur, quia 
            quaerat incidunt omnis, similique ab explicabo. Similique, voluptate nobis. Ipsam mollitia ratione repellat fuga accusamus!
          </span>
          <div class="logo">
            <img src="../assets/brodo.png" alt="Brodo logo">
          </div>
        </div>
    </div>
  </div>
</section>
<section class="feature third-feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 centered">
        <h6 class="uppercase">Features</h6>
        <h3>Gain a new skill. Whatever <br> your goal we'll get there. <br>
          You can see the studio our <br> costumer made.
        </h3>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias repudiandae ad esse aut tenetur, quia 
          quaerat incidunt omnis, similique ab explicabo. Similique, voluptate nobis. Ipsam mollitia ratione repellat fuga accusamus!
        </span>
        <div class="logo">
          <img src="../assets/hurley.png" alt="Hurley logo">
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <img src="../assets/features2.png" alt="present paint tools cone pines and coffee" class="centerd-image">
      </div>
    </div>
  </div>
</section>
<section class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6 class="uppercase centered">Features</h6>
          <h3 class="centered">Our costumers say about us</h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="testimonial">
            <div class="centered">
                <img src="../assets/quotes.png" class="quote" alt="quote sign">
            </div>
            <span class="description"> 
              Qursi is a life saver. I don't have the time or money for
              a collage education. My goal is to become afreelance web developer
              and thanks to Quarsi, I'm really close.
            </span>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="../assets/img1.png" alt="developer photo">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <h5 class="name">Ardias Ega</h5>
                <span>CTO One Week Workers</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="testimonial">
            <div class="centered">
              <img src="../assets/quotes.png" class="quote" alt="quote sign">
            </div>
            <span class="description">
              I believe in lifeling learning and Quarsi is a geat place to learn from experts.
              I've learned a lot and recommend it to all my friends.
            </span>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="../assets/img2.png" alt="developer photo">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <h5 class="name">Zaini Ahmed</h5>
                <span>UI Designer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="testimonial">
            <div class="centered">
              <img src="../assets/quotes.png" class="quote" alt="quote sign">
            </div>
            <span class="description">
              I work in project management and joined Quarsi because I get great courses for less. The 
              instrucotrs are fantastic, interesting and helpful. I plan to use for a longt time.
            </span>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="../assets/img3.png" alt="developer photo">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <h5 class="name">Purwaji Santoso</h5>
                <span>CMO OWW Studio</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 centered">
          <div class="statistics">
            <h3>927,272</h3>
            <p>Global Costumer</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 centered">
          <div class="statistics">
            <h3>62,161</h3>
            <p>Course</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 centered">
          <div class="statistics">
            <h3>6,472</h3>
            <p>Author</p>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="playstore">
  <div class="container">
    <div class="row centered">
      <section class="clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2>Get the app in Playstore</h2></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span>Lets get the app and try Qursi for free and no card credit required.</span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button type="button" class="btn download-btn centered">
            Download the app
          </button>
          </div>
        </section>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 centered">
          <h3>Qursi</h3>
          <span>No contact, no set-up, just awesome.</span>
        </div>
        <div class="col-lg-9 col-md-9 col-md-12 col-xs-12">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <ul class="unstyled">
                <li><h3>Get Started</h3></li>
                <li>Features</li>
                <li>Testimonials</li>
                <li>Subscribes</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <ul class="unstyled">
                <li><h3>Community</h3></li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Slack</li>
                <li>Twitter</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <ul class="unstyled">
                <li><h3>Resources</h3></li>
                <li>DYI</li>
                <li>Shoes</li>
                <li>Table</li>
                <li>Jacket</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centered">
          <div class="copyright">
              <p>2018.One week Wonders. All Rights reserved.</p>
          </div>
        </div>
    </div>
  </div>
</footer>


